* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: pixelFont;
    src: url(ARCADECLASSIC.TTF);
}

p {
    font-family: pixelFont;
    font-size: 40px;
    color: #6c254e;
}

body {
    background-color: #549daa;
}

#title {
    width: 20px;
    height: 20px;
    right: 0;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-color:#efdca0;
}
#character {
    width: 50px;
    height: 50px;
    top: 150px;
    position: relative;
}

.animate {
    animation: jump 500ms;
}

#block {
    width: 20px;
    height: 20px;
    background-color: #6c254e;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
    animation-duration: 3s;
}



@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    70% {
        top: 100px;
    }

    100% {
        top: 150px;
    }
}

@keyframes block {
    
    0% {
        left: 480px;
    }

    100% {
        left: -40px;
    }
}
